
$colortextos: #1d0c00;
$colortextos2: #000000;
$colorpaleta1: #07280d;
$colorbgtranparente:#07280d70;

@import 'navbar';
//reset
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 125vh;
    padding: 15px;
    font-family: 'Nunito', sans-serif;
}
//fin de reset
/*header*/
.hero{
    margin-top: 7%;
    height: 100vh;
    background-image: url(../multimedia/Imagenes/nenaportada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 200;
    
  
}
/*titulos y subtitulos*/
h2 {
    color: $colortextos;

}

.hero__texts {
    background: $colorbgtranparente;
    margin-top: 15px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .hero__title {
        padding-top: 10%;
        font-size: 50px;
        color: $colortextos;
    }
    .hero__subtitle{
    font-size: 30px;
    font-weight: 300;
    color: $colortextos;
    padding-bottom: 15%
    }
}




@import 'galeria';
@import 'services';
@import 'footer';
@import 'btn';
@import 'alquileres';
@import 'form';
@import 'preguntasfrecuentes';
