.img_1{
    margin: 0;
    .gracias{
        margin: 0;
        width:100% ;
        height: 5%;
    }
}
.img_2{
    margin: 0;
    .construccion{
        display: flex;
        justify-content: center;
        margin: 5%;
        padding-bottom: 7%;
        width: 80%;
        height: 80%;
    }
}