/*Inicio de formularios*/
@import '../base/mixin';


.form{
    background-color: #f2f2f2;
    /* al tener un width de 90% y un max-w de 400px es responsive */
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
}
.form-container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
.form-input {
    @include formulario( 0.8em 1em);
    outline: none;
    border: 1px solid #bbb0b0;

}
.form-input--message{
    resize: none; /*evito q el area del msj se deforme y crezca*/
    padding: 1.8em 1em;
    margin-bottom: .5em;
}
.form-cta {
    @include formulario(0.7 em 0);
    background-color: #7a3401;
    color: #ffff;
    font-weight: 400; /*un poco mas pesada la fuente con esto*/
    cursor: pointer;
}
.form-title{
    color:nth($list: $colortextos, $n: 1 );
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

/*fin de formularios*/