/*seccion de preguntas frecuentes*/
@import "../base/listas";


.preguntasfrecuentes{
    margin-top: 80px;
}
.accordion{
    color: black;
}
.accordion-button{
    background:#07280d;
    color: #ffffff;
    
}