@media screen and (max-width:600px){
    .nav__logo{
        width: 30%;
        height: 80%;
    }
}
@media (max-width: 425px) {
    .form-title{
        font-size: 2rem;
    }
}
@media screen and (max-width: 900px){
    
    header {
        background-position: center; 
    }
    .servicio__cont{
        justify-content: center;
        flex-direction: column;
    }
    .servicio__ind{
        width: 100%;
        text-align: center;
        img {
            width: 90%;
        }
    }
    .servicio__ind:nth-child(1), .servicio__ind:nth-child(2){
        margin-bottom: 60px;

    }
}
@media screen and (max-width: 700px){
    .galeria{
        grid-template-columns: 1fr;
    }

}
@media screen and (max-width:700px) {
    .hero__texts {
        margin-top: 5%;
        .hero__title {
            padding-top: 10%;
            font-size: 30px;
        }
        .hero__subtitle{
        font-size: 20px;
        padding-bottom: 15%;
    } 
    }
}
@media screen and (max-width:700) {
    .whatsapp {
    bottom: 200px;
    right: 15px;
    }
}

@media screen and (max-width:700){
.nav__logo{
    width: 25%;
    height: 80%;
}
}